body {
  font-family: Arial, sans-serif;
  background-color: rgb(208, 230, 222);
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #2c8910;
  font-size: 36px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3b438b;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #6193c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

#menu, #comentarios, #resumen {
  background-color: rgb(234, 234, 216);
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #2f216c;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 10px 0;
  color: rgb(83, 83, 118);
}

#resumen strong {
  color: #d37422;
}

#comentarios {
  font-style: italic;
  color: #2f216c;
  text-align: center;
  margin-top: 20px;
}
